<body>
	<p>pagina de compras la recomiendo hacer en mercado libre para empezar
	 con una cuenta de mercado pago se amplia segun el numero de productos que se ingrese
	 ya mas adelante se puede hacer una libreria de registro para mandr lo productos desde dentro de esta pagina
	</p>
</body>