.image-size{
  height: 65px;
  width: 65px;
}

.background-fondo{
  background-image: url('fondo.jpg');
  background-repeat: repeat;
}


.color-de-texto{
  color:white;
}

.background-color{
 background-color:black;
}

.slider{
  height: 500px;
  width: 100%;
}

.menu-wrapper{
  background-color:red;
}

 .menu-container{
  display:inline-block;
  float:right;
  padding:5px;
}
  
.button-container{
  display:inline-block; 
}

.button-container a{
  display:inline-block;
  color:white;
  background-color:red;
  text-decoration:none;
  padding:5px;
}

.button-container a:hover{
  background-color:#9C0000; 
}

  .clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
  .clearfix {display: inline-block;}
  /* Hides from IE-mac \*/
  * html .clearfix {height: 1%;}
  .clearfix {display: block;}
  /* End hide from IE-mac */


.chacmetal-carrousel .item img{
  margin: 0 auto;
}

.chacmetal-container{
  width:100%;
  padding: 0;
}

.sin-margen{
  margin: 0;
  padding: 0;
}

.centrado{
  text-align: center;
}

html{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
}


//para hacer que el footer se valla hasta abajo
#main-container{
  min-height: 100%;
  position:relative;
} 

.yield-container{
  position: relative;
  padding-bottom: 100px;
  .yield-wrapper{
    height: 100%;
  }
}


.header {
  height: 65px;  
  width: 100%;
}

body
.footer {
  height:100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
